@import './variables';

@mixin container {
  max-width: 72rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}

@mixin card {
  background-color: #ffffff;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  padding: 1.5rem;
}